.movie-card {
  margin: 60px 30px 0px 30px;
  display: inline-block;
  width: 200px
}

.movie-card-details {
  width: 500px
}

.movie-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.movie-select-button {
  margin-bottom: 10px
}

img {
  float: center
}

.deselect-img{
  width: 10px
}