.search {
  min-height: 100vh;
}

h3 {
  margin: 20px
}

.movie-search {
  color: rgb(58, 104, 113);
  margin: 30px;
}

.movie-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

.message {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: teal;
}