.search {
  min-height: 100vh;
}

.movie-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

.message {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: teal;
}