.App {
  text-align: center;
  background-color: rgb(223, 232, 235);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav {
  background-color: rgb(97, 131, 131);
}

nav a {
  color: white
}

nav a:hover {
  color: rgb(194, 211, 214)
}

nav ul {
  padding-left: 0;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 20px 50px
}

.homepage {
  padding: 30px 30px 50px 30px
}

.homepage-img {
  width: 52%;
  border-radius: 5%;
  opacity: 0.9;
}

.footer {
  color: white;
  padding: 15px;
  background-color: rgb(97, 131, 131);
}